

.VideoGallery-items {
    display: flex;
    flex-wrap: wrap;
}

.VideoGallery{
    position: relative;
    
}

.VideoGallery .Video{
    margin-right: 10px;   
    width: 180px;
    height: 130px;
    z-index: -1;
}

.VideoGallery .PlayBtn {
    position: absolute;
    width: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rotate{
    transform : rotate(180deg);
}

@media (max-width: 400px){
    .VideoGallery .Video {
        margin-right: 2px;
        width: 170px;
        height: 130px;
        z-index: -1;
    }
}