/* title News */
.news {
    color: var(--unnamed-color-444444);
    margin-top: 24px;
    width: 816px;
}

.news_name {
    font: normal normal 600 24px/32px Segoe UI;
    margin: 0px;
}

/* News Items */
.news_list {
    display: flex;
    flex-direction: column;
}

.news_items {
    display: flex;
    margin-top: 16px;
}

.news_des {
    display: flex;
    flex-direction: column;
    height: 120px;
    margin-left: 16px;
}

.news_img {
    width: 160px;
    height: 120px;
}

.news_des_title {
    font: normal normal 600 16px/21px Segoe UI;
    color: #333333;
    margin: 0px;
}

.news_description {
    color: #333333;
    font: normal normal normal 14px/19px Segoe UI;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}



.news_sub_time {
    display: flex;
    width: 98px;
    height: 19px;
    gap: 10px;
}


img {
    width: 14px;
    height: 16px;
    font: var(--unnamed-font-style-normal) normal normal 16px/16px Font Awesome 5 Free;
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal normal 16px/16px Font Awesome 5 Free;
    letter-spacing: 0px;
    color: #AAAAAA;
    opacity: 1;
}

.news-date{
    margin-left: 5px;
    text-align: center;
    width: 76px;
    height: 19px;
    /* UI Properties */
    font: var(--unnamed-font-style-normal) normal normal 14px/19px var(--unnamed-font-family-segoe-ui);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-444444);
    font: normal normal normal 14px/19px Segoe UI;
    letter-spacing: 0px;
    color: #444444;
    opacity: 1;
}


@media only screen and (min-width: 1200px) {
    .news_description {
        width: 80%;
    }
}


@media (max-width: 500px) {

    .news_items {
        width: 38%;
        flex-direction: column;
    }

    .news_des {
        margin-left: 0px;
    }
}