.documentGallery {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
.documentGallery-col {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: min-content min-content auto;
}
.documentGallery-block {
    text-align: top left;
    vertical-align: top;
    
}
.documentGallery-block-content {
    display: flex;
    flex-direction: column;
}
.documentGallery-block-header {
    top: 2246px;
    left: 59px;
    width: 144px;
    height: 21px;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-600) 16px/21px var(--unnamed-font-family-segoe-ui);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-444444);
    text-align: left;
    font: normal normal 600 16px/21px Segoe UI;
    letter-spacing: 0px;
    color: #444444;
    opacity: 1;
}
.documentGallery-item {
    display: inline-flex;
    margin: 15px;
}
.documentGallery-item-img{
    width: 23px;
    height: 23px;
}
.documentGallery-item-title {
    display: inline;
    font: var(--unnamed-font-style-normal) normal normal 14px/19px var(--unnamed-font-family-segoe-ui);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal normal 14px/19px Segoe UI;
    letter-spacing: 0px;
    color: #27313C;
    opacity: 1;
    padding-left: 17px;
}
.documentGallery-ViewMoreButton {
    display: inline-flex;
}
.arrowicon {
    transform: translate(0, 2px);
}

.rotation {
    transform: rotate(180deg);
}

button{
    margin-top : 2px;
}
@media (max-width: 648px) {
    .documentGallery {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}
